body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
}


@media (min-width : 1300px) and(max-width : 800px) {

    h1 {

        color: purple;
    }
}

@media (max-width:400px) {

    h1 {

        color: red;
    }

}

@media (min-width:600px) {

    h1 {

        color: green;
    }

}


@media (orientation: landscape) {

    body {

        background-color: aqua;
    }

}


@media (max-width:800px) {

    h1 {
        font-size: 4em;

    }

}

@media (max-width:500px) {

    h1 {

        font-size: 3em;
    }

}